*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Radley', sans-serif;
    background-color: #3b2a22;
}

.container {
    background-image: url('img/home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    text-align: center;
    color:  #3b2a22;;
}

.logo {
    font-size: 80px;
    color: #7a6451;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.subtitle {
    font-size: 24px;
    color: #7a6451;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.login-btn {
    background-color: #5a4637;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-btn:hover {
    background-color: #46382c;
}


.top-left-logo {
    position: absolute;
    top: -30px;
    left: 20px;
}

.top-left-logo img {
    width: 135px; 
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b2a22; 
    padding: 20px;
    min-height: 60vh; 
    width: 70%; 
    margin: 0 auto; 
    border-radius: 15px; 
}


.image-section-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section-form img {
    width: 80%; 
    height: auto;
    border-radius: 10px;
}

.form-section-form {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px;
    border-radius: 10px;
}


h1 {
    font-family: 'Radley', serif;
    font-size: 36px;
    letter-spacing: 2px; 
    margin-bottom: 20px;
    color: #EFEFEF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    width: 68%;
    align-items: left; 
}

input[type="text"], input[type="file"] {
    font-family: 'Radley', serif;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px; 
    background-color: #EFEFEF; 
    color: #4B3A2D;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.upload-image-form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px;
    width: 100%; 
}

.upload-image-form img {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    margin-bottom: 10px;
}


.upload-image-form label {
    cursor: pointer;
    display: inline-block;
    text-align: center; 
    width: auto; 
}

input[type="file"] {
    display: none; 
}

button {
    font-family: 'Radley', serif;
    padding: 10px;
    border: none;
    border-radius: 30px; 
    background-color: #756357;
    color: #EFEFEF;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

button:hover {
    background-color: #5A4B3F;
}

.container-table {
    background-color: #3b2a22; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #7a6451; 
}

.table th {
    background-color: #5a4637; 
    color: #EFEFEF;
    font-family: 'Radley', serif;
    font-size: 18px;
}

.table td {
    background-color: #EFEFEF; 
    color: #4B3A2D;
    font-family: 'Radley', serif;
    font-size: 16px;
}

.table img {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table .btn {
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'Radley', serif;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table .btn-primary {
    background-color: #5a4637;
    color: #EFEFEF;
}

.table .btn-primary:hover {
    background-color: #46382c;
}

.table .btn-danger {
    background-color: #d9534f;
    color: #EFEFEF;
}

.table .btn-danger:hover {
    background-color: #c9302c;
}

.table tr:last-child td {
    border-bottom: none; 
}

.table td[colspan="6"] {
    text-align: center;
    color: #EFEFEF;
    background-color: #5a4637; 
}
